#sidebar{
    background-color: var(--theme-color-bg-element);
    /* width: clamp(100px, 300px, 500px); */
    min-width: 30rem;
    height: 100vh;
}

#logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

#logo img{
    border-radius: 10px;
    aspect-ratio: 1/1;
    height: 50px;
    margin-top: 1rem;
}

.navbar-content-container{
    align-self: center;
    min-width: max-content;
    width: 88%;
}

.title-with-underline-container{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
}

.title-with-underline-container label{
    /* width: 100px; */
    text-align: center;
    text-transform: initial;
    color: var(--theme-color-accent-1);
    font-size: 1.8rem;
    font-weight: 700;
}

#navbar-project-btn-container button{
    margin-top: 1rem;
    width: -webkit-fill-available;
}
#navbar-project-btn-container button:nth-child(1){
    margin-top: 0;
}

#profile-picture img{
    border: 0.2rem solid var(--theme-color-accent);
    border-radius: 50%;
}

#sidebar-footer-container{
    margin-top: auto;
}
#sidebar-footer-container p{
    margin: 0;
    transition: 0.2s;
}
#sidebar-footer-container img{
    aspect-ratio: 1/1;
    height: 4rem;
}
#sidebar-footer-container button{
    padding: 0.1rem 1.5rem;
}
#sidebar-footer-container button img{
    height: 2.5rem;
    margin-left: 0.7rem;
    filter: invert(48%) sepia(88%) saturate(903%) hue-rotate(211deg) brightness(99%) contrast(92%);
}

#sidebar-footer-container button:hover{
    transition: 0s;
}
#sidebar-footer-container button:hover img{
    display: none;
}
#sidebar-footer-container button:hover p{
    padding-left: 16px;
    padding-right: 16px;
}