.join-project-input-pill{
    padding: 0.8rem 2rem;
    border: 2px solid var(--theme-color-bg-1);
    border-radius: 10rem;
    background-color: var(--theme-color-bg);
    color: var(--theme-color-accent-1);
    font-size: 18px;
    font-weight: 500;
    gap: 1rem;
}

.join-project-input-pill input{
    border: none;
    border-bottom: 1px solid var(--theme-color-bg-1);
    background-color: transparent;
    color: var(--theme-color-accent-1);
    font-size: 18px;
    padding: 0;
    font-weight: 600;
    padding-top: 0.2rem;
}
.join-project-input-pill input:focus{
    outline: none;
}