#create-new-task-modal-content-container{
    width: 60rem;
    gap: 1.8rem;
}

#create-new-task-title-container{
    width: 100%;
    border-radius: 1.4rem;
    font-size: 22px;
    font-weight: 700;
    padding: 0.8rem 2rem;
}
#create-new-task-title-container label{
    min-width: max-content;
    color: var(--theme-color-accent-2);
}
#create-new-task-title-container input{
    width: -webkit-fill-available;
    font-weight: 500;
    font-size: 19px;
}

#create-new-task-enter-type-priority-status-container{
    width: 100%;
    background-color: var(--theme-color-bg);
    border: 2px solid var(--theme-color-bg-element);
    padding: 0.6rem 2rem;
}
#create-new-task-enter-type-priority-status-container label{
    font-weight: 500;
    font-size: 17px;
}
#create-new-task-enter-type-priority-status-container input{
    width: 100%;
    margin-left: 1rem;
    font-size: 17px;
}

.crete-new-task-label{
    padding: 0.6rem 2rem;
    padding-bottom: 0.9rem;
    background-color: var(--theme-color-bg);
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--theme-color-accent-2);
    width: max-content;
    border: 2px solid var(--theme-color-bg-dropoff-2);
}

#task-description-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#task-description-container textarea{
    max-width: 100%;
    max-height: 10rem;
    min-width: 100%;
    min-height: 10rem;
    resize: none;
    background-color: var(--theme-color-bg-dropoff-2);
    border: 2px solid var(--theme-color-bg-element);
    border-radius: 2rem;
    font-family: Montserrat, sans-serif;
    padding: 1rem;
    color: var(--theme-color-accent-1);
    font-size: 15px;
}
#task-description-container textarea:focus{
    outline: none;
}

#task-assignees-and-time-estimates-container > div{
    width: 45%;
}

#task-assignees-showcase-container{
    height: 20rem;
    overflow: auto;
    padding: 1rem;
    background-color: var(--theme-color-bg-dropoff-2);
    border: 2px solid var(--theme-color-bg-element);
    border-radius: 2rem;
}
#task-assignees-showcase-container::-webkit-scrollbar{
    width: 0.5rem;
    /* background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0) 20%, rgba(135,133,243,1) 20%, rgba(135,133,243,1) 80%, rgba(0,0,0,0) 80%); */
}
#task-assignees-showcase-container::-webkit-scrollbar-thumb{
    box-shadow: none;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 20%, rgba(135,133,243,1) 20%, rgba(135,133,243,1) 80%, rgba(0,0,0,0) 80%);
}

#task-time-estimates-container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: max-content;
    background-color: var(--theme-color-bg);
    border: 2px solid var(--theme-color-bg-element);
    border-radius: 2rem;
    padding: 0.6rem 0rem;
}
#task-time-estimates-container div:not(.separator){
    padding: 0.6rem 1rem;
}
#task-time-estimates-container label{
    color: var(--theme-color-accent-1);
    font-size: 16px;
    font-weight: 600;
}
#task-time-estimates-container input{
    margin-left: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--theme-color-bg-1);
    background-color: transparent;
    color: var(--theme-color-accent-1);
    font-size: 16px;
    padding: 0;
    font-weight: 600;
    padding-top: 0.2rem;
}
#task-time-estimates-container input:focus{
    outline: none;
}