.kanban-board{
    height: -webkit-fill-available;
    margin-top: 3rem;
    padding-left: 3rem;
}

.kanban-column{
    max-width: 40rem;
    min-width: 35rem;
}
.kanban-column-header{
    background-color: var(--theme-color-bg-element);
    padding: 0.5rem 0rem 1rem 0rem;
    border-radius: 1.8rem;
    width: 85%;
    align-items: center;
}
.kanban-column-header label{
    font-size: 3rem;
    font-weight: 700;
    color: var(--theme-color-accent);
}

.task{
    width: 98%;
    box-sizing: border-box;
    background-color: var(--theme-color-bg-element);
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 3rem;
    box-shadow: 0px 0px 4px rgb(112 112 112);
}
.task label{
    color: var(--theme-color-accent-1);
    font-weight: 500;
    height: min-content;
    align-self: center;
}

.task-content{
    padding: 1rem;
    border-radius: inherit;
    background-color: var(--theme-color-bg);
}

.task-info-icons-container{
    margin-bottom: 1rem;
}
.task-info-icons-container img{
    filter: var(--theme-color-accent-1-filter);
    width: 2.5rem;
}

.task-associated-people-container img{
    width: 3.5rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.task-filters-container{
    overflow-x: clip;
    border-radius: 1rem;
    padding: 0.2rem;
}
.task-filters-container > div{
    gap: 0.8rem;
}
.task-filter{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 9rem;
    text-align: center;
    background-color: var(--theme-color-bg-element);
    border-radius: 10rem;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    color: var(--theme-color-accent-1);
    box-shadow: 0px 0px 2px rgb(112, 112, 112);
}


/* .task-type-info-container{
    justify-self: flex-start;
}
.task-priority-info-container{
    justify-self: flex-end;
} */


/* @keyframes image-slide {
    0% {
        transform: translatex(-250px);
    }
    60% {
        transform: translatex(-250px);
    }
    90% {
        transform: translatex(150px);
    }
    100% {
        transform: translatex(150px);
    }
} */

@keyframes image-slide {
    0% {
        margin-right: 0px;
    }
    60% {
        margin-right: 0px;
    }
    90% {
        margin-right: 80px;
    }
    100% {
        margin-right: 80px;
    }
}

/* @keyframes image-slide {
    0% {
        transform: translatex(0px);
    }
    60% {
        transform: translatex(0px);
    }
    90% {
        transform: translatex(-80px);
    }
    100% {
        transform: translatex(-80px);
    }
} */

@keyframes text-slide {
    0% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    77% {
        width: 0;
    }
    100% {
        width: 0;
    }
}
  
/* .container {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
} */

.task-info-icons-animation-container{
    justify-content: flex-end;
    width: 130px;
}

.image-container {
    /* position: absolute; */
    /* position: relative; */
    z-index: 2;
}

.image-container img:hover{

    -webkit-animation: image-slide 1s cubic-bezier(.5,.5,0,1);
    animation: image-slide 1s cubic-bezier(.5,.5,0,1);
    /* animation-iteration-count: infinite; */

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    /* height: 20px; */
}
  
  
.text-container {
    position: absolute;
    /* position: relative; */
    z-index: 1;
    /* margin-left: -30px; */
}
.text-container .fading-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: var(--theme-color-bg);

    /* -webkit-animation: text-slide 1s cubic-bezier(.5,.5,0,1);
    animation: text-slide 1s cubic-bezier(.5,.5,0,1);
    animation-iteration-count: infinite; */

    /* animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; */
}

.text-container .fading-effect:hover{
    -webkit-animation: text-slide 1s cubic-bezier(.5,.5,0,1);
    animation: text-slide 1s cubic-bezier(.5,.5,0,1);
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}